/*
============================================================
  RNA-seq Pipeline · nextflow.config
============================================================
*/

// ─── PARÀMETRES DEL PIPELINE ────────────────────────────

// Paràmetres globals per defecte
params {
    input  = null
    outdir = "${launchDir}/resultats"
    // sif_dir = "${projectDir}/sif" 

    // ── Trimm Galore ────────────────────
    trim_cores = 16

    // ── STAR ─────────────────────────────
    // Reference 
    star_genomeDir    = "../human_database"
    star_cpus = 8


    // ── SAMTOOLS QC ────────────────────
    task_cpus = 16


    // ── featureCounts ───────────────────────────────────
    // ref: MODIFIC
    // featureCounts strandness: 0=unstranded 1=stranded 2=reverse
    fc_strandness = 0
    counts_gtf = "../human_database/Homo_sapiens.GRCh38.115.gtf"
    task_cpus = 8

    // Mínim counts totals per gen (filtratge matriu)
    min_counts    = 10

}
 

// Configuració de l'execució
process {

    cpus   = 1
    memory = '2 GB'
    time   = '4 h'

    withName: 'SAMPLESHEET_CHECK' {
        cpus      = 1
        memory    = '1 GB'
        container = 'docker://python:3.11'
    }

    withName: 'FASTQC' {
        cpus      = 2
        memory    = '2 GB'
        container = 'community.wave.seqera.io/library/trim-galore:0.6.10--1bf8ca4e1967cd18'
    }

    withName: 'MULTIQC' {
        cpus      = 2
        memory    = '2 GB'
        container = 'docker://quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    }

   withName: 'TRIMGALORE' {
        cpus      = 4
        memory    = '8 GB'
        time      = '2 h'
        container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
    }

    withName: 'STAR_ALIGN' {
        cpus      = 8
        memory    = '40 GB'
        time      = '4 h'
        container = 'quay.io/biocontainers/star:2.7.11b--h43eeafb_0'
    }

    withName: 'SAMTOOLS_QC' {
        cpus      = 4
        memory    = '8 GB'
        time      = '1 h'
        container = 'quay.io/biocontainers/samtools:1.19--h50ea8bc_0'
    }

    withName: 'FEATURECOUNTS' {
        cpus      = 8
        memory    = '16 GB'
        time      = '2 h'
        container = 'quay.io/biocontainers/subread:2.0.6--he4a0461_0'
    }

    

}

// Profiles d'execució
profiles {

    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'odap'
    }

    docker {
        docker.enabled = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind /mnt/typhon/data/references,/mnt/typhon/references"
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        apptainer.runOptions = "--bind /mnt/typhon/data/references,/mnt/typhon/references"
    }

}

// Carpeta de treball de Nextflow (fitxers temporals)
workDir = "${launchDir}/work"
 
// Informe d'execució
report {
    enabled = true
    file    = "${params.outdir}/reports/execution_report.html"
}
 
timeline {
    enabled = true
    file    = "${params.outdir}/reports/timeline.html"
}

trace    { 
    enabled = true; 
    file = "${params.outdir}/pipeline_trace.txt"  
}